@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,800&display=swap');

$color-primary: #433520;
$color-accent: #025955;
$color-accent-variant: #00917c;
$color-background: #fde8cd;
$color-text: #000000;
$color-error: #810000;

$nav-color-1: #fcd1d1;
$nav-color-2: #ece2e1;
$nav-color-3: #d3e0dc;
$nav-color-4: #aee1e1;
$nav-color-5: #dfcef2;


$font-nav: 'Raleway', sans-serif;

$ani-speed: 0.4s;
$ani-slide-in-speed: 0.2s;
$ani-slide-out-speed: 0.5s;

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-background;
  color: $color-text;
}

/* Nav */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translateX(-100vw);
}
.overlay-slide-right {
  transition: all $ani-speed ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all $ani-speed * 2 ease-in-out;
  transform: translateX(-100vw);
}

nav {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  & ul {
    @extend nav;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    list-style: none;

    & a {
      height: 20%;
      overflow: hidden;
      text-decoration: none;
    }
  }
  & a {
    & li {
      position: relative;
      top: 45%;
      color: #fff;
      text-shadow: -2px 2px 0 $color-primary, 2px 2px 0 $color-primary, 2px -2px 0 $color-primary, -2px -2px 0 $color-primary;
      text-transform: uppercase;
      letter-spacing: 4px;
      display: block;
      text-align: center;
      font-size: 3rem;
      &::before {
        content: "";
        width: 40vw;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 47.5%;
        left: 0;
        opacity: 0;
      }
      &::after {
        content: "";
        width: 40vw;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 47.5%;
        right: 0;
        opacity: 0;
      }
    }
    &:hover {
      & li {
        transform: scale(1.3);
        text-shadow: 1px 1px 4px $color-primary;
        &::before, &::after {
          opacity: 1;
        }
      }
    }
    &:nth-of-type(1) {
      background-color: $nav-color-1;
    }
    &:nth-of-type(2) {
      background-color: $nav-color-2;
    }
    &:nth-of-type(3) {
      background-color: $nav-color-3;
    }
    &:nth-of-type(4) {
      background-color: $nav-color-4;
    }
    &:nth-of-type(5) {
      background-color: $nav-color-5;
    }
  }
}

.slide-in-1 {
  animation: slide-in $ani-speed linear $ani-slide-in-speed both;
}
.slide-in-2 {
  animation: slide-in $ani-speed linear $ani-slide-in-speed * 2 both;
}
.slide-in-3 {
  animation: slide-in $ani-speed linear $ani-slide-in-speed * 3 both;
}
.slide-in-4 {
  animation: slide-in $ani-speed linear $ani-slide-in-speed * 4 both;
}
.slide-in-5 {
  animation: slide-in $ani-speed linear $ani-slide-in-speed * 5 both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  } to {
    transform: translateX(0);
  }
}

.slide-out-1 {
  animation: slide-out $ani-speed linear $ani-slide-out-speed both;
}
.slide-out-2 {
  animation: slide-out $ani-speed linear $ani-slide-out-speed - .1 both;
}
.slide-out-3 {
  animation: slide-out $ani-speed linear $ani-slide-out-speed - .2 both;
}
.slide-out-4 {
  animation: slide-out $ani-speed linear $ani-slide-out-speed - .3 both;
}
.slide-out-5 {
  animation: slide-out $ani-speed linear $ani-slide-out-speed - .4 both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
  padding: 5px;
}

.bar1 {
  width: 50px;
  height: 6px;
  background-color: #fff;
  margin: 10px 0;
  transition: $ani-speed;
}

.bar2, .bar3 {
  @extend .bar1;
}

.change {
  & .bar1 {
    height: 6px;
    transform: rotate(-45deg) translate(-16px, 8px);
  }
  & .bar2 {
    opacity: 0;
  }
  & .bar3 {
    height: 6px;
    transform: rotate(45deg) translate(-14px, -8px);
  }
}

/* sections */
section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $color-primary;
  &#home {
    background-image: url("../../../image/pastel-shore.jpg");
    background-size: cover;
    background-position: center center;
    background-color: $color-accent;
    & a {
      position: absolute;
      z-index: 2;
      top: 1.5rem;
      left: 1.5rem;
      text-decoration: none;
      font-size: 3rem;
      padding-bottom: 5px;
      color: $color-primary;
      border-bottom: 1px solid $color-primary;
    }
  }
  &#about {
    background-color: $nav-color-2;
  }
  &#skills {
    background-color: $nav-color-3;
  }
  &#projects {
    background-color: $nav-color-4;
  }
  &#contact {
    background-color: $nav-color-5;
  }
}

